/* Базовые стили карусели */
.carousel {
    /* position: relative; */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.carousel-images {
    width: 340px;
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
    gap: 40px;
}

.carousel-image-wrapper {
    border: 1px solid var(--zinc-300);
    padding: 10px;
}

.carousel-image {
    display: flex;
    flex-direction: column;
    min-width: 100%; /* Гарантируем, что каждое изображение займет полную ширину карусели */
    transition: opacity 0.5s ease;
    opacity: 0; /* Скрытие неактивных изображений */
    position: absolute; /* Исправлено позиционирование для корректной анимации */
}


.carousel-image.active {
    opacity: 1; /* Отображение активного изображения */
    position: relative; /* Исправлено для активного состояния */
}

.carousel-text {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.carousel-title {
    margin-top: 16px;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 400;
}

.carousel-description {
    font-size: 15px;
    color: var(--text-description);
}

.prev,
.next {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}

.prev {
    top: 40%;
    left: 30px;
    transform: translate3d(-50%, -50%, 0);
}
.next {
    top: 40%;
    right: 30px;
    transform: translate3d(50%, -50%, 0);
}

@media (min-width: 768px) {
    /* Специфичные стили для планшетов и выше */

}

@media (min-width: 1024px) {
    .carousel-images {
        transition: none;
        align-items: flex-start;
        justify-content: center;
        min-width: 340px
    }

    .carousel-image {
        display: flex;
        justify-content: center;
        position: relative; /* Исправление для десктоп версии */
        opacity: 1; /* Все изображения видны */
        min-width: 340px; /* Распределение по ширине для трех изображений */
    }

    .carousel-image img {
        height: 243px;
    }

    .prev {
        display: none;
    }
    .next {
        display: none;
    }
}
