@import './assets/fonts/fonts.css';
@import './component/Swiper/swiper.css';

* {
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --zinc-300: #d4d4d8;
    --text-description: #52525b;

}